<div class="container h-screen max-w-screen-lg mx-auto">
  <.live_component
    module={maybe_component(Bonfire.Geolocate.MapLive)}
    id={:VFMap}
    fetch_place_things_fn={@fetch_place_things_fn}
    places={@places}
  />
</div>
